Monte um modelo de regressao logistica e LDA para predizer a coluna income usando a base a seguir:

Colunas:

    age
    workclass
    fnlwgt
    education
    educational-num
    marital-status
    occupation
    relationship
    race
    gender
    capital-gain
    capital-loss
    hours-per-week
    native-country
    income

https://raw.githubusercontent.com/silviostanzani/PosBigData/master/adult.csv

Opcional: divida a base entre treino e teste e compare os resultados obtidos

Utilize o LDA para classificar o dataset a seguir de acordo com a coluna Classhttps://raw.githubusercontent.com/MateLabs/Public-Datasets/master/Datasets/wine.csv

In [2]:
install.packages("mlbench")
install.packages("caret")
install.packages("tidyverse")
install.packages("car")
install.packages("ISLR")

  There is a binary version available but the source version is later:
        binary  source needs_compilation
mlbench  2.1-3 2.1-3.1              TRUE

  Binaries will be installed
package 'mlbench' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\bru_l\AppData\Local\Temp\Rtmpwb67ZB\downloaded_packages

also installing the dependencies 'cli', 'pillar', 'tibble', 'tzdb', 'glue', 'timechange', 'gtable', 'lifecycle', 'rlang', 'scales', 'vctrs', 'dplyr', 'clock', 'hardhat', 'ipred', 'lubridate', 'purrr', 'tidyselect', 'ggplot2', 'recipes'

  There are binary versions available but the source versions are later:
           binary source needs_compilation
cli         2.5.0  3.6.1              TRUE
pillar      1.6.0  1.9.0             FALSE
tibble      3.1.1  3.2.1              TRUE
tzdb        0.1.1  0.4.0              TRUE
glue        1.4.2  1.6.2              TRUE
timechange  0.0.2  0.2.0              TRUE
gtable      0.3.0  0.3.4             FALSE
lifecycle   1.0.0  1.0.3             FALSE
rlang      0.4.11  1.1.1              TRUE
scales      1.1.1  1.2.1             FALSE
vctrs       0.3.8  0.6.3              TRUE
dplyr       1.0.6  1.1.3              TRUE
clock       0.3.0  0.7.0              TRUE
hardhat     0.1.5  1.3.0             FALSE
ipred      0.9-11 0.9-14              TRUE
lubridate  1.7.10  1.9.2              TRUE
purrr       0.3.4  1.0.2              TRUE
tidyselect  1.1.1  1.2.0             FALSE
ggplot2     3.3.3  3.4.3             FALSE
recipes    0.1.16  1.0.8             FALSE
caret      6.0-86 6.0-94              TRUE

  Binaries will be installed
package 'cli' successfully unpacked and MD5 sums checked
package 'tibble' successfully unpacked and MD5 sums checked
package 'tzdb' successfully unpacked and MD5 sums checked
package 'glue' successfully unpacked and MD5 sums checked
package 'timechange' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked
package 'vctrs' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked
package 'clock' successfully unpacked and MD5 sums checked
package 'ipred' successfully unpacked and MD5 sums checked
package 'lubridate' successfully unpacked and MD5 sums checked
package 'purrr' successfully unpacked and MD5 sums checked
package 'caret' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\bru_l\AppData\Local\Temp\Rtmpwb67ZB\downloaded_packages

installing the source packages 'pillar', 'gtable', 'lifecycle', 'scales', 'hardhat', 'tidyselect', 'ggplot2', 'recipes'

Warning message in install.packages("caret"):
"installation of package 'lifecycle' had non-zero exit status"Warning message in install.packages("caret"):
"installation of package 'hardhat' had non-zero exit status"Warning message in install.packages("caret"):
"installation of package 'pillar' had non-zero exit status"Warning message in install.packages("caret"):
"installation of package 'gtable' had non-zero exit status"Warning message in install.packages("caret"):
"installation of package 'scales' had non-zero exit status"Warning message in install.packages("caret"):
"installation of package 'tidyselect' had non-zero exit status"Warning message in install.packages("caret"):
"installation of package 'ggplot2' had non-zero exit status"Warning message in install.packages("caret"):
"installation of package 'recipes' had non-zero exit status"also installing the dependencies 'htmltools', 'processx', 'xfun', 'bslib', 'tinytex', 'lifecycle', 'tidyselect', 'vctrs', 'gtable', 'scales', 'gargle', 'timechange', 'systemfonts', 'vroom', 'callr', 'knitr', 'rmarkdown', 'glue', 'broom', 'conflicted', 'cli', 'dbplyr', 'dplyr', 'dtplyr', 'forcats', 'ggplot2', 'googledrive', 'googlesheets4', 'haven', 'hms', 'jsonlite', 'lubridate', 'magrittr', 'modelr', 'pillar', 'purrr', 'ragg', 'readr', 'readxl', 'reprex', 'rlang', 'rvest', 'stringr', 'tibble', 'tidyr', 'xml2'

  There are binary versions available but the source versions are later:
               binary source needs_compilation
htmltools     0.5.1.1  0.5.6              TRUE
processx        3.5.2  3.8.2              TRUE
xfun             0.22   0.40              TRUE
bslib           0.2.4  0.5.1             FALSE
tinytex          0.31   0.46             FALSE
lifecycle       1.0.0  1.0.3             FALSE
tidyselect      1.1.1  1.2.0             FALSE
vctrs           0.3.8  0.6.3              TRUE
gtable          0.3.0  0.3.4             FALSE
scales          1.1.1  1.2.1             FALSE
gargle          1.1.0  1.5.2             FALSE
timechange      0.0.2  0.2.0              TRUE
systemfonts     1.0.2  1.0.4              TRUE
vroom           1.4.0  1.6.3              TRUE
callr           3.7.0  3.7.3             FALSE
knitr            1.33   1.43             FALSE
rmarkdown         2.8   2.24             FALSE
glue            1.4.2  1.6.2              TRUE
broom           0.7.6  1.0.5             FALSE
conflicted      1.0.4  1.2.0             FALSE
cli             2.5.0  3.6.1              TRUE
dbplyr          2.1.1  2.3.3             FALSE
dplyr           1.0.6  1.1.3              TRUE
dtplyr          1.1.0  1.3.1             FALSE
forcats         0.5.1  1.0.0             FALSE
ggplot2         3.3.3  3.4.3             FALSE
googledrive     1.0.1  2.1.1             FALSE
googlesheets4   0.3.0  1.1.1             FALSE
haven           2.4.1  2.5.3              TRUE
hms             1.0.0  1.1.3             FALSE
jsonlite        1.7.2  1.8.7              TRUE
lubridate      1.7.10  1.9.2              TRUE
magrittr        2.0.1  2.0.3              TRUE
modelr          0.1.8 0.1.11             FALSE
pillar          1.6.0  1.9.0             FALSE
purrr           0.3.4  1.0.2              TRUE
ragg            1.1.2  1.2.5              TRUE
readr           1.4.0  2.1.4              TRUE
readxl          1.3.1  1.4.3              TRUE
reprex          2.0.0  2.0.2             FALSE
rlang          0.4.11  1.1.1              TRUE
rvest           1.0.0  1.0.3             FALSE
stringr         1.4.0  1.5.0             FALSE
tibble          3.1.1  3.2.1              TRUE
tidyr           1.1.3  1.3.0              TRUE
xml2            1.3.2  1.3.5              TRUE
tidyverse       1.3.1  2.0.0             FALSE

  Binaries will be installed
package 'htmltools' successfully unpacked and MD5 sums checked
package 'processx' successfully unpacked and MD5 sums checked
package 'xfun' successfully unpacked and MD5 sums checked
package 'vctrs' successfully unpacked and MD5 sums checked
package 'timechange' successfully unpacked and MD5 sums checked
package 'systemfonts' successfully unpacked and MD5 sums checked
package 'vroom' successfully unpacked and MD5 sums checked
package 'glue' successfully unpacked and MD5 sums checked
package 'cli' successfully unpacked and MD5 sums checked
package 'dplyr' successfully unpacked and MD5 sums checked
package 'haven' successfully unpacked and MD5 sums checked
package 'jsonlite' successfully unpacked and MD5 sums checked
package 'lubridate' successfully unpacked and MD5 sums checked
package 'magrittr' successfully unpacked and MD5 sums checked
package 'purrr' successfully unpacked and MD5 sums checked
package 'ragg' successfully unpacked and MD5 sums checked
package 'readr' successfully unpacked and MD5 sums checked
package 'readxl' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked
package 'tibble' successfully unpacked and MD5 sums checked
package 'tidyr' successfully unpacked and MD5 sums checked
package 'xml2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\bru_l\AppData\Local\Temp\Rtmpwb67ZB\downloaded_packages

installing the source packages 'bslib', 'tinytex', 'lifecycle', 'tidyselect', 'gtable', 'scales', 'gargle', 'callr', 'knitr', 'rmarkdown', 'broom', 'conflicted', 'dbplyr', 'dtplyr', 'forcats', 'ggplot2', 'googledrive', 'googlesheets4', 'hms', 'modelr', 'pillar', 'reprex', 'rvest', 'stringr', 'tidyverse'

Warning message in install.packages("tidyverse"):
"installation of package 'bslib' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'tinytex' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'lifecycle' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'callr' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'knitr' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'conflicted' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'tidyselect' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'gtable' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'scales' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'gargle' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'forcats' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'hms' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'pillar' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'rvest' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'stringr' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'rmarkdown' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'broom' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'dbplyr' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'dtplyr' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'ggplot2' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'googledrive' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'googlesheets4' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'modelr' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'reprex' had non-zero exit status"Warning message in install.packages("tidyverse"):
"installation of package 'tidyverse' had non-zero exit status"Warning message:
"dependency 'pbkrtest' is not available"also installing the dependencies 'cli', 'lifecycle', 'rlang', 'lme4', 'scales'

  There are binary versions available but the source versions are later:
          binary source needs_compilation
cli        2.5.0  3.6.1              TRUE
lifecycle  1.0.0  1.0.3             FALSE
rlang     0.4.11  1.1.1              TRUE
lme4      1.1-26 1.1-34              TRUE
scales     1.1.1  1.2.1             FALSE
car       3.0-10  3.1-2             FALSE

  Binaries will be installed
package 'cli' successfully unpacked and MD5 sums checked
package 'rlang' successfully unpacked and MD5 sums checked
package 'lme4' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\bru_l\AppData\Local\Temp\Rtmpwb67ZB\downloaded_packages

installing the source packages 'lifecycle', 'scales', 'car'

Warning message in install.packages("car"):
"installation of package 'lifecycle' had non-zero exit status"Warning message in install.packages("car"):
"installation of package 'scales' had non-zero exit status"Warning message in install.packages("car"):
"installation of package 'car' had non-zero exit status"

  There is a binary version available but the source version is later:
     binary source needs_compilation
ISLR    1.2    1.4             FALSE

installing the source package 'ISLR'

In [1]:
adult <- read.csv(url("https://raw.githubusercontent.com/silviostanzani/PosBigData/master/adult.csv"));

In [2]:
head(adult);
summary(adult);

  age workclass fnlwgt education    educational.num marital.status
1 25  Private   226802 11th          7              Never-married
2 38  Private    89814 HS-grad       9              Married-civ-spouse
3 28  Local-gov 336951 Assoc-acdm   12              Married-civ-spouse
4 44  Private   160323 Some-college 10              Married-civ-spouse
5 18  ?         103497 Some-college 10              Never-married
6 34  Private   198693 10th          6              Never-married
  occupation        relationship  race  gender capital.gain capital.loss
1 Machine-op-inspct Own-child     Black Male      0         0
2 Farming-fishing   Husband       White Male      0         0
3 Protective-serv   Husband       White Male      0         0
4 Machine-op-inspct Husband       Black Male   7688         0
5 ?                 Own-child     White Female    0         0
6 Other-service     Not-in-family White Male      0         0
  hours.per.week native.country income
1 40             United-States  <=50K
2 50             United-States  <=50K
3 40             United-States  >50K
4 40             United-States  >50K
5 30             United-States  <=50K
6 30             United-States  <=50K

      age         workclass             fnlwgt         education
 Min.   :17.00   Length:48842       Min.   :  12285   Length:48842
 1st Qu.:28.00   Class :character   1st Qu.: 117550   Class :character
 Median :37.00   Mode  :character   Median : 178144   Mode  :character
 Mean   :38.64                      Mean   : 189664
 3rd Qu.:48.00                      3rd Qu.: 237642
 Max.   :90.00                      Max.   :1490400
 educational.num marital.status      occupation        relationship
 Min.   : 1.00   Length:48842       Length:48842       Length:48842
 1st Qu.: 9.00   Class :character   Class :character   Class :character
 Median :10.00   Mode  :character   Mode  :character   Mode  :character
 Mean   :10.08
 3rd Qu.:12.00
 Max.   :16.00
     race              gender           capital.gain    capital.loss
 Length:48842       Length:48842       Min.   :    0   Min.   :   0.0
 Class :character   Class :character   1st Qu.:    0   1st Qu.:   0.0
 Mode  :character   Mode  :character   Median :    0   Median :   0.0
                                       Mean   : 1079   Mean   :  87.5
                                       3rd Qu.:    0   3rd Qu.:   0.0
                                       Max.   :99999   Max.   :4356.0
 hours.per.week  native.country        income
 Min.   : 1.00   Length:48842       Length:48842
 1st Qu.:40.00   Class :character   Class :character
 Median :40.00   Mode  :character   Mode  :character
 Mean   :40.42
 3rd Qu.:45.00
 Max.   :99.00

In [3]:
adult$incomef <- ifelse(adult$income == ">50K", 1, 0)
head(adult)

  age workclass fnlwgt education    educational.num marital.status
1 25  Private   226802 11th          7              Never-married
2 38  Private    89814 HS-grad       9              Married-civ-spouse
3 28  Local-gov 336951 Assoc-acdm   12              Married-civ-spouse
4 44  Private   160323 Some-college 10              Married-civ-spouse
5 18  ?         103497 Some-college 10              Never-married
6 34  Private   198693 10th          6              Never-married
  occupation        relationship  race  gender capital.gain capital.loss
1 Machine-op-inspct Own-child     Black Male      0         0
2 Farming-fishing   Husband       White Male      0         0
3 Protective-serv   Husband       White Male      0         0
4 Machine-op-inspct Husband       Black Male   7688         0
5 ?                 Own-child     White Female    0         0
6 Other-service     Not-in-family White Male      0         0
  hours.per.week native.country income incomef
1 40             United-States  <=50K  0
2 50             United-States  <=50K  0
3 40             United-States  >50K   1
4 40             United-States  >50K   1
5 30             United-States  <=50K  0
6 30             United-States  <=50K  0

In [4]:
adult$incomef <- factor(adult$incomef, levels = c(0, 1))
head(adult)

  age workclass fnlwgt education    educational.num marital.status
1 25  Private   226802 11th          7              Never-married
2 38  Private    89814 HS-grad       9              Married-civ-spouse
3 28  Local-gov 336951 Assoc-acdm   12              Married-civ-spouse
4 44  Private   160323 Some-college 10              Married-civ-spouse
5 18  ?         103497 Some-college 10              Never-married
6 34  Private   198693 10th          6              Never-married
  occupation        relationship  race  gender capital.gain capital.loss
1 Machine-op-inspct Own-child     Black Male      0         0
2 Farming-fishing   Husband       White Male      0         0
3 Protective-serv   Husband       White Male      0         0
4 Machine-op-inspct Husband       Black Male   7688         0
5 ?                 Own-child     White Female    0         0
6 Other-service     Not-in-family White Male      0         0
  hours.per.week native.country income incomef
1 40             United-States  <=50K  0
2 50             United-States  <=50K  0
3 40             United-States  >50K   1
4 40             United-States  >50K   1
5 30             United-States  <=50K  0
6 30             United-States  <=50K  0

In [5]:
summary(adult)

      age         workclass             fnlwgt         education
 Min.   :17.00   Length:48842       Min.   :  12285   Length:48842
 1st Qu.:28.00   Class :character   1st Qu.: 117550   Class :character
 Median :37.00   Mode  :character   Median : 178144   Mode  :character
 Mean   :38.64                      Mean   : 189664
 3rd Qu.:48.00                      3rd Qu.: 237642
 Max.   :90.00                      Max.   :1490400
 educational.num marital.status      occupation        relationship
 Min.   : 1.00   Length:48842       Length:48842       Length:48842
 1st Qu.: 9.00   Class :character   Class :character   Class :character
 Median :10.00   Mode  :character   Mode  :character   Mode  :character
 Mean   :10.08
 3rd Qu.:12.00
 Max.   :16.00
     race              gender           capital.gain    capital.loss
 Length:48842       Length:48842       Min.   :    0   Min.   :   0.0
 Class :character   Class :character   1st Qu.:    0   1st Qu.:   0.0
 Mode  :character   Mode  :character   Median :    0   Median :   0.0
                                       Mean   : 1079   Mean   :  87.5
                                       3rd Qu.:    0   3rd Qu.:   0.0
                                       Max.   :99999   Max.   :4356.0
 hours.per.week  native.country        income          incomef
 Min.   : 1.00   Length:48842       Length:48842       0:37155
 1st Qu.:40.00   Class :character   Class :character   1:11687
 Median :40.00   Mode  :character   Mode  :character
 Mean   :40.42
 3rd Qu.:45.00
 Max.   :99.00

# Monte um modelo de regressao logistica

In [6]:
modelo_regressao_logistica <- glm(incomef ~ ., family="binomial", data = adult)
summary(modelo_regressao_logistica)

Warning message:
“glm.fit: algoritmo não convergiu”

Call:
glm(formula = incomef ~ ., family = "binomial", data = adult)

Coefficients: (2 not defined because of singularities)
                                           Estimate Std. Error z value Pr(>|z|)
(Intercept)                              -2.657e+01  3.291e+04  -0.001    0.999
age                                       7.397e-13  1.562e+02   0.000    1.000
workclassFederal-gov                      9.364e-11  1.415e+04   0.000    1.000
workclassLocal-gov                        5.018e-12  1.217e+04   0.000    1.000
workclassNever-worked                    -2.552e-12  1.129e+05   0.000    1.000
workclassPrivate                          1.079e-12  1.032e+04   0.000    1.000
workclassSelf-emp-inc                    -1.301e-10  1.380e+04   0.000    1.000
workclassSelf-emp-not-inc                 1.928e-11  1.191e+04   0.000    1.000
workclassState-gov                       -3.109e-11  1.310e+04   0.000    1.000
workclassWithout-pay                      2.145e-11  7.850e+04   0.000    1.000
fnlwgt                                   -2.990e-18  1.571e-02   0.000    1.000
education11th                             6.349e-12  1.274e+04   0.000    1.000
education12th                            -6.318e-13  1.691e+04   0.000    1.000
education1st-4th                         -9.212e-12  2.543e+04   0.000    1.000
education5th-6th                         -8.088e-12  1.939e+04   0.000    1.000
education7th-8th                         -5.079e-12  1.511e+04   0.000    1.000
education9th                             -1.193e-12  1.616e+04   0.000    1.000
educationAssoc-acdm                       1.691e-12  1.327e+04   0.000    1.000
educationAssoc-voc                        5.955e-12  1.254e+04   0.000    1.000
educationBachelors                       -9.008e-12  1.085e+04   0.000    1.000
educationDoctorate                       -7.156e-10  1.848e+04   0.000    1.000
educationHS-grad                          3.133e-12  1.003e+04   0.000    1.000
educationMasters                         -1.054e-11  1.261e+04   0.000    1.000
educationPreschool                        2.395e-11  4.077e+04   0.000    1.000
educationProf-school                      1.393e-10  1.682e+04   0.000    1.000
educationSome-college                     5.938e-12  1.029e+04   0.000    1.000
educational.num                                  NA         NA      NA       NA
marital.statusMarried-AF-spouse           6.852e-12  6.181e+04   0.000    1.000
marital.statusMarried-civ-spouse          2.142e-11  2.005e+04   0.000    1.000
marital.statusMarried-spouse-absent       5.489e-12  1.505e+04   0.000    1.000
marital.statusNever-married               7.788e-12  6.066e+03   0.000    1.000
marital.statusSeparated                   2.292e-12  1.019e+04   0.000    1.000
marital.statusWidowed                    -9.168e-12  1.053e+04   0.000    1.000
occupationAdm-clerical                    9.743e-13  9.247e+03   0.000    1.000
occupationArmed-Forces                   -6.830e-11  9.280e+04   0.000    1.000
occupationCraft-repair                    2.151e-12  8.686e+03   0.000    1.000
occupationExec-managerial                -2.696e-11  9.122e+03   0.000    1.000
occupationFarming-fishing                -3.977e-12  1.212e+04   0.000    1.000
occupationHandlers-cleaners              -5.215e-12  1.086e+04   0.000    1.000
occupationMachine-op-inspct               6.495e-12  9.882e+03   0.000    1.000
occupationOther-service                  -4.807e-12  9.252e+03   0.000    1.000
occupationPriv-house-serv                -3.620e-12  2.458e+04   0.000    1.000
occupationProf-specialty                  1.933e-11  9.645e+03   0.000    1.000
occupationProtective-serv                 6.986e-12  1.398e+04   0.000    1.000
occupationSales                           2.374e-12  9.059e+03   0.000    1.000
occupationTech-support                    1.208e-11  1.222e+04   0.000    1.000
occupationTransport-moving                       NA         NA      NA       NA
relationshipNot-in-family                 1.719e-11  1.997e+04   0.000    1.000
relationshipOther-relative                1.225e-11  1.962e+04   0.000    1.000
relationshipOwn-child                     1.585e-11  1.994e+04   0.000    1.000
relationshipUnmarried                     1.326e-11  2.071e+04   0.000    1.000
relationshipWife                         -1.627e-11  9.118e+03   0.000    1.000
raceAsian-Pac-Islander                    1.646e-11  2.153e+04   0.000    1.000
raceBlack                                 8.823e-12  1.740e+04   0.000    1.000
raceOther                                 5.786e-12  2.453e+04   0.000    1.000
raceWhite                                 9.362e-12  1.661e+04   0.000    1.000
genderMale                                3.693e-12  4.843e+03   0.000    1.000
capital.gain                             -6.965e-14  2.259e-01   0.000    1.000
capital.loss                             -4.161e-14  4.065e+00   0.000    1.000
hours.per.week                            1.479e-13  1.454e+02   0.000    1.000
native.countryCambodia                   -8.945e-12  6.920e+04   0.000    1.000
native.countryCanada                      2.661e-11  2.918e+04   0.000    1.000
native.countryChina                       2.048e-11  3.641e+04   0.000    1.000
native.countryColumbia                   -1.743e-11  4.064e+04   0.000    1.000
native.countryCuba                       -1.055e-11  3.281e+04   0.000    1.000
native.countryDominican-Republic         -6.254e-12  3.748e+04   0.000    1.000
native.countryEcuador                    -2.070e-12  5.474e+04   0.000    1.000
native.countryEl-Salvador                -1.387e-12  3.157e+04   0.000    1.000
native.countryEngland                     1.756e-11  3.396e+04   0.000    1.000
native.countryFrance                     -1.668e-11  5.911e+04   0.000    1.000
native.countryGermany                     1.578e-12  2.774e+04   0.000    1.000
native.countryGreece                     -1.950e-11  5.242e+04   0.000    1.000
native.countryGuatemala                  -3.736e-12  4.032e+04   0.000    1.000
native.countryHaiti                      -1.112e-11  4.324e+04   0.000    1.000
native.countryHoland-Netherlands          6.810e-11  3.567e+05   0.000    1.000
native.countryHonduras                    9.330e-12  8.069e+04   0.000    1.000
native.countryHong                       -1.094e-11  6.691e+04   0.000    1.000
native.countryHungary                     2.413e-11  8.269e+04   0.000    1.000
native.countryIndia                      -3.385e-11  3.291e+04   0.000    1.000
native.countryIran                       -6.032e-11  4.800e+04   0.000    1.000
native.countryIreland                     2.850e-11  5.988e+04   0.000    1.000
native.countryItaly                       2.101e-12  3.698e+04   0.000    1.000
native.countryJamaica                     5.057e-12  3.701e+04   0.000    1.000
native.countryJapan                      -1.776e-11  3.955e+04   0.000    1.000
native.countryLaos                       -1.235e-11  7.629e+04   0.000    1.000
native.countryMexico                     -3.243e-12  1.781e+04   0.000    1.000
native.countryNicaragua                   7.443e-12  5.245e+04   0.000    1.000
native.countryOutlying-US(Guam-USVI-etc) -9.281e-12  7.530e+04   0.000    1.000
native.countryPeru                       -1.346e-11  5.401e+04   0.000    1.000
native.countryPhilippines                -1.059e-11  2.654e+04   0.000    1.000
native.countryPoland                     -2.170e-12  4.018e+04   0.000    1.000
native.countryPortugal                   -1.369e-12  4.543e+04   0.000    1.000
native.countryPuerto-Rico                -1.039e-11  2.918e+04   0.000    1.000
native.countryScotland                   -1.299e-11  7.875e+04   0.000    1.000
native.countrySouth                       2.857e-11  3.718e+04   0.000    1.000
native.countryTaiwan                     -6.395e-11  4.722e+04   0.000    1.000
native.countryThailand                   -2.621e-11  6.687e+04   0.000    1.000
native.countryTrinadad&Tobago             1.745e-12  6.974e+04   0.000    1.000
native.countryUnited-States              -2.755e-12  1.251e+04   0.000    1.000
native.countryVietnam                    -6.083e-13  4.195e+04   0.000    1.000
native.countryYugoslavia                  2.289e-11  7.533e+04   0.000    1.000
income>50K                                5.313e+01  4.748e+03   0.011    0.991

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 5.3751e+04  on 48841  degrees of freedom
Residual deviance: 2.8336e-07  on 48742  degrees of freedom
AIC: 200

Number of Fisher Scoring iterations: 25

# LDA

In [7]:
adult <- read.csv(url("https://raw.githubusercontent.com/silviostanzani/PosBigData/master/adult.csv"));
require(MASS)
data(adult)
head(adult, 100)

summary(adult)

r <- lda(formula = income ~ workclass, data = adult)
r

lda.train <- predict(r)
adult$lda <- lda.train$class
table(adult$lda, adult$income)

Carregando pacotes exigidos: MASS

Warning message in data(adult):
“data set ‘adult’ not found”

    age workclass        fnlwgt education    educational.num marital.status
1   25  Private          226802 11th          7              Never-married
2   38  Private           89814 HS-grad       9              Married-civ-spouse
3   28  Local-gov        336951 Assoc-acdm   12              Married-civ-spouse
4   44  Private          160323 Some-college 10              Married-civ-spouse
5   18  ?                103497 Some-college 10              Never-married
6   34  Private          198693 10th          6              Never-married
7   29  ?                227026 HS-grad       9              Never-married
8   63  Self-emp-not-inc 104626 Prof-school  15              Married-civ-spouse
9   24  Private          369667 Some-college 10              Never-married
10  55  Private          104996 7th-8th       4              Married-civ-spouse
11  65  Private          184454 HS-grad       9              Married-civ-spouse
12  36  Federal-gov      212465 Bachelors    13              Married-civ-spouse
13  26  Private           82091 HS-grad       9              Never-married
14  58  ?                299831 HS-grad       9              Married-civ-spouse
15  48  Private          279724 HS-grad       9              Married-civ-spouse
16  43  Private          346189 Masters      14              Married-civ-spouse
17  20  State-gov        444554 Some-college 10              Never-married
18  43  Private          128354 HS-grad       9              Married-civ-spouse
19  37  Private           60548 HS-grad       9              Widowed
20  40  Private           85019 Doctorate    16              Married-civ-spouse
21  34  Private          107914 Bachelors    13              Married-civ-spouse
22  34  Private          238588 Some-college 10              Never-married
23  72  ?                132015 7th-8th       4              Divorced
24  25  Private          220931 Bachelors    13              Never-married
25  25  Private          205947 Bachelors    13              Married-civ-spouse
26  45  Self-emp-not-inc 432824 HS-grad       9              Married-civ-spouse
27  22  Private          236427 HS-grad       9              Never-married
28  23  Private          134446 HS-grad       9              Separated
29  54  Private           99516 HS-grad       9              Married-civ-spouse
30  32  Self-emp-not-inc 109282 Some-college 10              Never-married
⋮   ⋮   ⋮                ⋮      ⋮            ⋮               ⋮
71  55  Private          323887 Some-college 10              Married-civ-spouse
72  46  Private          175622 Assoc-voc    11              Married-civ-spouse
73  30  Private          229636 HS-grad       9              Married-civ-spouse
74  21  Private          388946 Some-college 10              Separated
75  46  Private          269034 Some-college 10              Married-civ-spouse
76  17  ?                165361 10th          6              Never-married
77  41  Private           75012 HS-grad       9              Married-civ-spouse
78  69  Self-emp-inc     174379 HS-grad       9              Married-civ-spouse
79  50  Private          312477 HS-grad       9              Married-civ-spouse
80  20  Private           72055 Some-college 10              Never-married
81  45  Self-emp-inc      67001 Some-college 10              Married-civ-spouse
82  23  Private          213734 Bachelors    13              Never-married
83  24  Private           83141 Some-college 10              Separated
84  44  Self-emp-inc     223881 HS-grad       9              Married-civ-spouse
85  31  Self-emp-not-inc 113752 Some-college 10              Married-civ-spouse
86  43  Private          170482 HS-grad       9              Separated
87  20  Federal-gov      244689 11th          7              Never-married
88  55  Private          160631 HS-grad       9              Married-civ-spouse
89  24  Federal-gov      228724 Some-college 10              Never-married
90  41  ?                 38434 Masters      14              Married-civ-spouse
91  59  Private          292946 Bachelors    13              Never-married
92  49  Federal-gov       77443 7th-8th       4              Never-married
93  33  Private          176410 Masters      14              Married-civ-spouse
94  59  Federal-gov       98984 Bachelors    13              Divorced
95  34  Private          198751 Masters      14              Never-married
96  20  Private          479296 HS-grad       9              Never-married
97  25  Private          235218 Bachelors    13              Never-married
98  49  Private          164877 10th          6              Married-civ-spouse
99  59  Private          272087 HS-grad       9              Married-civ-spouse
100 20  Private          169699 HS-grad       9              Never-married
    occupation        relationship  race               gender capital.gain
1   Machine-op-inspct Own-child     Black              Male      0
2   Farming-fishing   Husband       White              Male      0
3   Protective-serv   Husband       White              Male      0
4   Machine-op-inspct Husband       Black              Male   7688
5   ?                 Own-child     White              Female    0
6   Other-service     Not-in-family White              Male      0
7   ?                 Unmarried     Black              Male      0
8   Prof-specialty    Husband       White              Male   3103
9   Other-service     Unmarried     White              Female    0
10  Craft-repair      Husband       White              Male      0
11  Machine-op-inspct Husband       White              Male   6418
12  Adm-clerical      Husband       White              Male      0
13  Adm-clerical      Not-in-family White              Female    0
14  ?                 Husband       White              Male      0
15  Machine-op-inspct Husband       White              Male   3103
16  Exec-managerial   Husband       White              Male      0
17  Other-service     Own-child     White              Male      0
18  Adm-clerical      Wife          White              Female    0
19  Machine-op-inspct Unmarried     White              Female    0
20  Prof-specialty    Husband       Asian-Pac-Islander Male      0
21  Tech-support      Husband       White              Male      0
22  Other-service     Own-child     Black              Female    0
23  ?                 Not-in-family White              Female    0
24  Prof-specialty    Not-in-family White              Male      0
25  Prof-specialty    Husband       White              Male      0
26  Craft-repair      Husband       White              Male   7298
27  Adm-clerical      Own-child     White              Male      0
28  Machine-op-inspct Unmarried     Black              Male      0
29  Craft-repair      Husband       White              Male      0
30  Prof-specialty    Not-in-family White              Male      0
⋮   ⋮                 ⋮             ⋮                  ⋮      ⋮
71  Exec-managerial   Husband       White              Male   15024
72  Tech-support      Husband       White              Male       0
73  Machine-op-inspct Husband       White              Male       0
74  Handlers-cleaners Not-in-family White              Female     0
75  Craft-repair      Husband       Other              Male       0
76  ?                 Own-child     White              Male       0
77  Machine-op-inspct Husband       White              Male       0
78  Sales             Husband       White              Male       0
79  Transport-moving  Husband       White              Male       0
80  Adm-clerical      Not-in-family White              Female     0
81  Machine-op-inspct Husband       White              Male       0
82  Exec-managerial   Not-in-family White              Male       0
83  Other-service     Not-in-family White              Male       0
84  Craft-repair      Husband       White              Male   99999
85  Craft-repair      Husband       White              Male       0
86  Machine-op-inspct Not-in-family White              Female     0
87  Other-service     Own-child     White              Female     0
88  Sales             Husband       White              Male       0
89  Armed-Forces      Not-in-family White              Male       0
90  ?                 Wife          White              Female  7688
91  Exec-managerial   Not-in-family White              Female     0
92  Other-service     Not-in-family Black              Male       0
93  Prof-specialty    Wife          White              Female  5178
94  Adm-clerical      Not-in-family White              Male       0
95  Other-service     Not-in-family Amer-Indian-Eskimo Male       0
96  Handlers-cleaners Own-child     White              Male       0
97  Exec-managerial   Own-child     White              Female     0
98  Farming-fishing   Husband       White              Male       0
99  Transport-moving  Husband       White              Male       0
100 Adm-clerical      Not-in-family White              Female     0
    capital.loss hours.per.week native.country     income
1   0            40             United-States      <=50K
2   0            50             United-States      <=50K
3   0            40             United-States      >50K
4   0            40             United-States      >50K
5   0            30             United-States      <=50K
6   0            30             United-States      <=50K
7   0            40             United-States      <=50K
8   0            32             United-States      >50K
9   0            40             United-States      <=50K
10  0            10             United-States      <=50K
11  0            40             United-States      >50K
12  0            40             United-States      <=50K
13  0            39             United-States      <=50K
14  0            35             United-States      <=50K
15  0            48             United-States      >50K
16  0            50             United-States      >50K
17  0            25             United-States      <=50K
18  0            30             United-States      <=50K
19  0            20             United-States      <=50K
20  0            45             ?                  >50K
21  0            47             United-States      >50K
22  0            35             United-States      <=50K
23  0             6             United-States      <=50K
24  0            43             Peru               <=50K
25  0            40             United-States      <=50K
26  0            90             United-States      >50K
27  0            20             United-States      <=50K
28  0            54             United-States      <=50K
29  0            35             United-States      <=50K
30  0            60             United-States      <=50K
⋮   ⋮            ⋮              ⋮                  ⋮
71     0         45             United-States      >50K
72     0         40             United-States      <=50K
73     0         40             Mexico             <=50K
74     0         40             United-States      <=50K
75     0         40             Dominican-Republic <=50K
76     0         40             United-States      <=50K
77     0         50             United-States      <=50K
78     0         30             United-States      <=50K
79     0         40             United-States      <=50K
80     0         40             United-States      <=50K
81     0         50             United-States      <=50K
82     0         40             United-States      <=50K
83  1876         40             United-States      <=50K
84     0         50             ?                  >50K
85     0         50             United-States      <=50K
86     0         44             United-States      <=50K
87     0         10             United-States      <=50K
88     0         56             United-States      >50K
89     0         40             United-States      <=50K
90     0         10             United-States      >50K
91     0         25             United-States      <=50K
92     0         20             United-States      <=50K
93     0         10             United-States      >50K
94     0         40             United-States      <=50K
95     0         40             United-States      <=50K
96     0         40             United-States      <=50K
97     0         40             United-States      <=50K
98     0         40             United-States      <=50K
99     0         40             United-States      >50K
100    0         40             United-States      <=50K

      age         workclass             fnlwgt         education
 Min.   :17.00   Length:48842       Min.   :  12285   Length:48842
 1st Qu.:28.00   Class :character   1st Qu.: 117550   Class :character
 Median :37.00   Mode  :character   Median : 178144   Mode  :character
 Mean   :38.64                      Mean   : 189664
 3rd Qu.:48.00                      3rd Qu.: 237642
 Max.   :90.00                      Max.   :1490400
 educational.num marital.status      occupation        relationship
 Min.   : 1.00   Length:48842       Length:48842       Length:48842
 1st Qu.: 9.00   Class :character   Class :character   Class :character
 Median :10.00   Mode  :character   Mode  :character   Mode  :character
 Mean   :10.08
 3rd Qu.:12.00
 Max.   :16.00
     race              gender           capital.gain    capital.loss
 Length:48842       Length:48842       Min.   :    0   Min.   :   0.0
 Class :character   Class :character   1st Qu.:    0   1st Qu.:   0.0
 Mode  :character   Mode  :character   Median :    0   Median :   0.0
                                       Mean   : 1079   Mean   :  87.5
                                       3rd Qu.:    0   3rd Qu.:   0.0
                                       Max.   :99999   Max.   :4356.0
 hours.per.week  native.country        income
 Min.   : 1.00   Length:48842       Length:48842
 1st Qu.:40.00   Class :character   Class :character
 Median :40.00   Mode  :character   Mode  :character
 Mean   :40.42
 3rd Qu.:45.00
 Max.   :99.00

Call:
lda(income ~ workclass, data = adult)

Prior probabilities of groups:
    <=50K      >50K
0.7607182 0.2392818

Group means:
      workclassFederal-gov workclassLocal-gov workclassNever-worked
<=50K           0.02344234         0.05945364          0.0002691428
>50K            0.04800205         0.07931890          0.0000000000
      workclassPrivate workclassSelf-emp-inc workclassSelf-emp-not-inc
<=50K        0.7137397            0.02037411                0.07495626
>50K         0.6320698            0.08026012                0.09215368
      workclassState-gov workclassWithout-pay
<=50K         0.03905262         0.0005113713
>50K          0.04534953         0.0001711303

Coefficients of linear discriminants:
                                   LD1
workclassFederal-gov       3.899120787
workclassLocal-gov         2.637047768
workclassNever-worked     -1.242601027
workclassPrivate           1.616834272
workclassSelf-emp-inc      6.020496379
workclassSelf-emp-not-inc  2.417492360
workclassState-gov         2.268797534
workclassWithout-pay       0.007368524

        <=50K  >50K
  <=50K 36398 10749
  >50K    757   938

# Utilize o LDA para classificar o dataset a seguir de acordo com a coluna Classhttps://raw.githubusercontent.com/MateLabs/Public-Datasets/master/Datasets/wine.csv

In [8]:
wine <- read.csv(url("https://raw.githubusercontent.com/MateLabs/Public-Datasets/master/Datasets/wine.csv"))
head(wine)
summary(wine)

  Alcohol Malic.acid Ash  Alcalinity.of.ash Magnesium Total.phenols Flavanoids
1 14.23   1.71       2.43 15.6              127       2.80          3.06
2 13.20   1.78       2.14 11.2              100       2.65          2.76
3 13.16   2.36       2.67 18.6              101       2.80          3.24
4 14.37   1.95       2.50 16.8              113       3.85          3.49
5 13.24   2.59       2.87 21.0              118       2.80          2.69
6 14.20   1.76       2.45 15.2              112       3.27          3.39
  Nonflavanoid.phenols Proanthocyanins Color.intensity Hue
1 0.28                 2.29            5.64            1.04
2 0.26                 1.28            4.38            1.05
3 0.30                 2.81            5.68            1.03
4 0.24                 2.18            7.80            0.86
5 0.39                 1.82            4.32            1.04
6 0.34                 1.97            6.75            1.05
  OD280.OD315.of.diluted.wines Proline Class
1 3.92                         1065    one
2 3.40                         1050    one
3 3.17                         1185    one
4 3.45                         1480    one
5 2.93                          735    one
6 2.85                         1450    one

    Alcohol        Malic.acid         Ash        Alcalinity.of.ash
 Min.   :11.03   Min.   :0.740   Min.   :1.360   Min.   :10.60
 1st Qu.:12.36   1st Qu.:1.603   1st Qu.:2.210   1st Qu.:17.20
 Median :13.05   Median :1.865   Median :2.360   Median :19.50
 Mean   :13.00   Mean   :2.336   Mean   :2.367   Mean   :19.49
 3rd Qu.:13.68   3rd Qu.:3.083   3rd Qu.:2.558   3rd Qu.:21.50
 Max.   :14.83   Max.   :5.800   Max.   :3.230   Max.   :30.00
   Magnesium      Total.phenols     Flavanoids    Nonflavanoid.phenols
 Min.   : 70.00   Min.   :0.980   Min.   :0.340   Min.   :0.1300
 1st Qu.: 88.00   1st Qu.:1.742   1st Qu.:1.205   1st Qu.:0.2700
 Median : 98.00   Median :2.355   Median :2.135   Median :0.3400
 Mean   : 99.74   Mean   :2.295   Mean   :2.029   Mean   :0.3619
 3rd Qu.:107.00   3rd Qu.:2.800   3rd Qu.:2.875   3rd Qu.:0.4375
 Max.   :162.00   Max.   :3.880   Max.   :5.080   Max.   :0.6600
 Proanthocyanins Color.intensity       Hue         OD280.OD315.of.diluted.wines
 Min.   :0.410   Min.   : 1.280   Min.   :0.4800   Min.   :1.270
 1st Qu.:1.250   1st Qu.: 3.220   1st Qu.:0.7825   1st Qu.:1.938
 Median :1.555   Median : 4.690   Median :0.9650   Median :2.780
 Mean   :1.591   Mean   : 5.058   Mean   :0.9574   Mean   :2.612
 3rd Qu.:1.950   3rd Qu.: 6.200   3rd Qu.:1.1200   3rd Qu.:3.170
 Max.   :3.580   Max.   :13.000   Max.   :1.7100   Max.   :4.000
    Proline          Class
 Min.   : 278.0   Length:178
 1st Qu.: 500.5   Class :character
 Median : 673.5   Mode  :character
 Mean   : 746.9
 3rd Qu.: 985.0
 Max.   :1680.0

In [12]:
data(wine)
head(wine, 10)

Warning message in data(wine):
“data set ‘wine’ not found”

   Alcohol Malic.acid Ash  Alcalinity.of.ash Magnesium Total.phenols Flavanoids
1  14.23   1.71       2.43 15.6              127       2.80          3.06
2  13.20   1.78       2.14 11.2              100       2.65          2.76
3  13.16   2.36       2.67 18.6              101       2.80          3.24
4  14.37   1.95       2.50 16.8              113       3.85          3.49
5  13.24   2.59       2.87 21.0              118       2.80          2.69
6  14.20   1.76       2.45 15.2              112       3.27          3.39
7  14.39   1.87       2.45 14.6               96       2.50          2.52
8  14.06   2.15       2.61 17.6              121       2.60          2.51
9  14.83   1.64       2.17 14.0               97       2.80          2.98
10 13.86   1.35       2.27 16.0               98       2.98          3.15
   Nonflavanoid.phenols Proanthocyanins Color.intensity Hue
1  0.28                 2.29            5.64            1.04
2  0.26                 1.28            4.38            1.05
3  0.30                 2.81            5.68            1.03
4  0.24                 2.18            7.80            0.86
5  0.39                 1.82            4.32            1.04
6  0.34                 1.97            6.75            1.05
7  0.30                 1.98            5.25            1.02
8  0.31                 1.25            5.05            1.06
9  0.29                 1.98            5.20            1.08
10 0.22                 1.85            7.22            1.01
   OD280.OD315.of.diluted.wines Proline Class
1  3.92                         1065    one
2  3.40                         1050    one
3  3.17                         1185    one
4  3.45                         1480    one
5  2.93                          735    one
6  2.85                         1450    one
7  3.58                         1290    one
8  3.58                         1295    one
9  2.85                         1045    one
10 3.55                         1045    one

In [13]:
r <- lda(formula = Class ~ ., data = wine)
r

lda.train <- predict(r)
wine$lda <- lda.train$class
table(wine$Class,wine$lda)

Call:
lda(Class ~ ., data = wine)

Prior probabilities of groups:
      one     three       two
0.3314607 0.2696629 0.3988764

Group means:
       Alcohol Malic.acid      Ash Alcalinity.of.ash Magnesium Total.phenols
one   13.74475   2.010678 2.455593          17.03729  106.3390      2.840169
three 13.15375   3.333750 2.437083          21.41667   99.3125      1.678750
two   12.27873   1.932676 2.244789          20.23803   94.5493      2.258873
      Flavanoids Nonflavanoid.phenols Proanthocyanins Color.intensity       Hue
one    2.9823729             0.290000        1.899322        5.528305 1.0620339
three  0.7814583             0.447500        1.153542        7.396250 0.6827083
two    2.0808451             0.363662        1.630282        3.086620 1.0562817
      OD280.OD315.of.diluted.wines   Proline
one                       3.157797 1115.7119
three                     1.683542  629.8958
two                       2.785352  519.5070

Coefficients of linear discriminants:
                                      LD1           LD2
Alcohol                      -0.403399781 -0.8717930699
Malic.acid                    0.165254596 -0.3053797325
Ash                          -0.369075256 -2.3458497486
Alcalinity.of.ash             0.154797889  0.1463807654
Magnesium                    -0.002163496  0.0004627565
Total.phenols                 0.618052068  0.0322128171
Flavanoids                   -1.661191235  0.4919980543
Nonflavanoid.phenols         -1.495818440  1.6309537953
Proanthocyanins               0.134092628  0.3070875776
Color.intensity               0.355055710 -0.2532306865
Hue                          -0.818036073  1.5156344987
OD280.OD315.of.diluted.wines -1.157559376 -0.0511839665
Proline                      -0.002691206 -0.0028529846

Proportion of trace:
   LD1    LD2
0.6875 0.3125

        one three two
  one    59     0   0
  three   0    48   0
  two     0     0  71