1. Qual é a média da nota em matemática de todos os alunos de São Paulo?

2. Qual é a média da nota em Linguagens e Códigos de todos os alunos de SP?

3. Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO de SP?

4. Qual é a média da nota em Matemática dos alunos do sexo FEMININO que moram na cidade de Santos?

5. Qual é a média da nota em Matemática dos alunos do município de Campinas que possuem TV por assinatura na residência?

6. Qual é a média da nota em Ciências Humanas dos alunos que possuem dois fornos micro-ondas em casa?

7. Qual é a nota média em Matemática dos alunos de Brotas e de Jaú?

8. Qual é a nota média em Ciências Humanas dos alunos de SP que moram sozinhos?

9. Qual é a nota média em Ciências Humanas dos alunos de SP cujo pai completou Pós-graduação e possuem renda familiar entre R$ 8.982,01 e R$ 9.980,00.

10. Qual é a nota média em Matemática dos alunos do sexo Feminino que moram em Ourinhos e escolheram “Espanhol” como língua estrangeira?

Dicionário ENADE:

CO_REGIAO_CURSO
1 = Região Norte (NO)
2 = Região Nordeste (NE)
3 = Região Sudeste (SE)
4 = Região Sul (SUL)
5 = Região Centro-Oeste (CO)

CO_UF_CURSO
11 = Rondônia (RO)
12 = Acre (AC)
13 = Amazonas (AM)
14 = Roraima (RR)
15 = Pará (PA)
16 = Amapa (AP)
17 = Tocantins (TO)
21 = Maranhão (MA)
22 = Piauí (PI)
23 = Ceará (CE)
24 = Rio Grande do Norte (RN)
25 = Paraíba (PB)
26 = Pernambuco (PE)
27 = Alagoas (AL)
28 = Sergipe (SE)
29 = Bahia (BA)
31 = Minas gerais (MG)
32 = Espírito Santo (ES)
33 = Rio de Janeiro (RJ)
35 = São Paulo (SP)
41 = Paraná (PR)
42 = Santa Catarina (SC)
43 = Rio Grande do Sul (RS)
50 = Mato Grosso do Sul (MS)
51 = Mato Grosso (MT)
52 = Goiás (GO)
53 = Distrito federal (DF)

Dicionário ALUNOS

TP_SEXO
M Masculino
F Feminino 

Q021 - Na sua residência tem TV por assinatura?
A Não
B Sim

Q016 - Na sua residência tem forno micro-ondas?
A Não.
B Sim, um.
C Sim, dois.
D Sim, três.
E Sim, quatro ou mais.

Q005 - Incluindo você, quantas pessoas moram atualmente em sua residência?
1	1, pois moro sozinho(a).
2	2
3	3
4	4
5	5
6	6
7	7
8	8
9	9
10	10
11	11
12	12
13	13
14	14
15	15
16	16
17	17
18	18
19	19
20	20

Q001 - Até que série seu pai, ou o homem responsável por você, estudou?
A Nunca estudou.
B Não completou a 4ª série/5º ano do Ensino Fundamental.
C Completou a 4ª série/5º ano, mas não completou a 8ª série/9º ano do Ensino Fundamental.
D Completou a 8ª série/9º ano do Ensino Fundamental, mas não completou o Ensino Médio.
E Completou o Ensino Médio, mas não completou a Faculdade.
F Completou a Faculdade, mas não completou a Pós-graduação.
G Completou a Pós-graduação.
H Não sei.

Q006 - Qual é a renda mensal de sua família? (Some a sua renda com a dos seus familiares.)
A Nenhuma renda.
B Até R$ 998,00.
C De R$ 998,01 até R$ 1.497,00.
D De R$ 1.497,01 até R$ 1.996,00.
E De R$ 1.996,01 até R$ 2.495,00.
F De R$ 2.495,01 até R$ 2.994,00.
G De R$ 2.994,01 até R$ 3.992,00.
H De R$ 3.992,01 até R$ 4.990,00.
I De R$ 4.990,01 até R$ 5.988,00.
J De R$ 5.988,01 até R$ 6.986,00.
K De R$ 6.986,01 até R$ 7.984,00.
L De R$ 7.984,01 até R$ 8.982,00.
M De R$ 8.982,01 até R$ 9.980,00.
N De R$ 9.980,01 até R$ 11.976,00.
O De R$ 11.976,01 até R$ 14.970,00.
P De R$ 14.970,01 até R$ 19.960,00.
Q Mais de R$ 19.960,00.

TP_LINGUA
0 Inglês
1 Espanhol

In [1]:
%pip install pandas
%pip install gdown

Requirement already satisfied: pandas in ./.venv/lib/python3.9/site-packages (2.1.0)
Requirement already satisfied: numpy>=1.22.4 in ./.venv/lib/python3.9/site-packages (from pandas) (1.25.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in ./.venv/lib/python3.9/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: gdown in ./.venv/lib/python3.9/site-packages (4.7.1)
Requirement already satisfied: filelock in ./.venv/lib/python3.9/site-packages (from gdown) (3.12.3)
Requirement already satisfied: requests[socks] in ./.venv/lib/python3.9/site-packages (from gdown) (2.31.0)
Requirement already satisfied: six in ./.venv/lib/python3.9/site-packages (from gdown) (1.16.0)
Requirement already satisfied: tqdm in ./.venv/lib/python3.9/site-packages (from gdown) (4.66.1)
Requirement already satisfied: beautifulsoup4 in ./.venv/lib/python3.9/site-packages (from gdown) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in ./.venv/lib/python3.9/site-packages (from beautifulsoup4->gdown) (2.5)
Requirement already satisfied: typing-extensions>=4.7.1 in ./.venv/lib/python3.9/site-packages (from filelock->gdown) (4.7.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.9/site-packages (from requests[socks]->gdown) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.9/site-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.9/site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.9/site-packages (from requests[socks]->gdown) (2023.7.22)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in ./.venv/lib/python3.9/site-packages (from requests[socks]->gdown) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
import gdown
import pandas as pd

/Users/brunoluz2/Documents/github/brunoluz/senac-pos-big-data/tecnicas-processamento-big-data/aula-01/.venv/lib/python3.9/site-packages/urllib3/__init__.py:34: NotOpenSSLWarning: urllib3 v2.0 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [3]:
url_enale = 'https://drive.google.com/uc?id=1o1LzQySzgWrDcSv-TxiiegehgS2axFdb'
file_microdados_enade_2019 = 'microdados_enade_2019.txt'

gdown.download(url_enale, file_microdados_enade_2019, quiet=False)

Downloading...
From (uriginal): https://drive.google.com/uc?id=1o1LzQySzgWrDcSv-TxiiegehgS2axFdb
From (redirected): https://drive.google.com/uc?id=1o1LzQySzgWrDcSv-TxiiegehgS2axFdb&confirm=t&uuid=c54f3f49-cf05-4898-bca8-3bf41fa0c73a
To: /Users/brunoluz2/Documents/github/brunoluz/senac-pos-big-data/tecnicas-processamento-big-data/aula-01/microdados_enade_2019.txt
100%|██████████| 210M/210M [00:10<00:00, 20.0MB/s]

'microdados_enade_2019.txt'

In [4]:
url_alunos = 'https://drive.google.com/uc?id=1mBDuh_cp3dtscg3pMsbZNjA2_bsT3Mu4'
file_microdados_alunos_2019 = 'microdados_enem_2019_alunos_SP.csv'

gdown.download(url_alunos, file_microdados_alunos_2019, quiet=False)

Downloading...
From (uriginal): https://drive.google.com/uc?id=1mBDuh_cp3dtscg3pMsbZNjA2_bsT3Mu4
From (redirected): https://drive.google.com/uc?id=1mBDuh_cp3dtscg3pMsbZNjA2_bsT3Mu4&confirm=t&uuid=62be7e5a-3ebc-482b-87ff-c15c7fd9fa96
To: /Users/brunoluz2/Documents/github/brunoluz/senac-pos-big-data/tecnicas-processamento-big-data/aula-01/microdados_enem_2019_alunos_SP.csv
100%|██████████| 539M/539M [00:27<00:00, 19.4MB/s]

'microdados_enem_2019_alunos_SP.csv'

In [5]:
df_enade_2019 = pd.read_csv(file_microdados_enade_2019, sep=';', decimal=',')

In [6]:
df_enade_2019.head(10)

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,6.0,1.0,1.0,1.0,8.0,1.0,1.0,1.0,1.0
6,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,1.0,3.0,3.0,6.0,6.0,3.0,6.0,4.0
7,2019,1,10002,10028,5710,3,1,5103403,51,5,...,8.0,6.0,3.0,2.0,2.0,6.0,8.0,1.0,1.0,3.0
8,2019,1,10002,10028,5710,3,1,5103403,51,5,...,5.0,5.0,1.0,1.0,1.0,5.0,1.0,4.0,3.0,1.0
9,2019,1,10002,10028,5710,3,1,5103403,51,5,...,4.0,4.0,1.0,3.0,3.0,4.0,8.0,3.0,4.0,4.0

In [7]:
df_alunos_2019 = pd.read_csv(file_microdados_alunos_2019, sep=',', decimal='.')

In [8]:
df_alunos_2019.head(10)

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,12426,190001017053,2019,3546801,Santa Isabel,35,SP,22,M,1,...,A,A,A,C,A,A,D,A,B,B
1,14849,190001019476,2019,3538204,Pinhalzinho,35,SP,19,M,1,...,A,A,A,B,A,A,C,A,B,A
2,15223,190001019850,2019,3550308,São Paulo,35,SP,17,F,1,...,A,A,A,A,A,A,C,A,A,A
3,20246,190001024874,2019,3548708,São Bernardo do Campo,35,SP,19,M,1,...,B,A,B,B,B,A,B,B,A,B
4,20303,190001024931,2019,3549409,São Joaquim da Barra,35,SP,37,M,2,...,B,A,A,A,A,A,C,B,B,B
5,26422,190001031050,2019,3515103,Embu-Guaçu,35,SP,17,F,1,...,A,A,A,C,B,A,D,A,B,B
6,28696,190001033324,2019,3549904,São José dos Campos,35,SP,28,F,1,...,A,A,A,B,A,A,C,A,A,A
7,39636,190001044264,2019,3549904,São José dos Campos,35,SP,25,F,2,...,B,A,B,B,A,A,C,A,B,B
8,40801,190001045429,2019,3518800,Guarulhos,35,SP,23,F,1,...,B,A,B,C,B,B,D,B,B,B
9,43987,190001048615,2019,3550308,São Paulo,35,SP,19,F,1,...,A,A,A,C,A,A,C,A,B,B

1. Qual é a média da nota em matemática de todos os alunos de São Paulo?

In [9]:
nota_matematica = df_alunos_2019.loc[
        df_alunos_2019.SG_UF_RESIDENCIA == 'SP'
    ].NU_NOTA_MT.mean()
print(f"A média da nota de matemática de todos os alunos de são paulo é: {nota_matematica:.2f}")

A média da nota de matemática de todos os alunos de são paulo é: 551.56

2. Qual é a média da nota em Linguagens e Códigos de todos os alunos de SP?

In [10]:
nota_linguagens_codigo = df_alunos_2019.loc[
        df_alunos_2019.SG_UF_RESIDENCIA == 'SP'
    ].NU_NOTA_LC.mean()
print(f"A média da nota de Linguagens e Códigos de todos os alunos de são paulo é: {nota_linguagens_codigo:.2f}")

A média da nota de Linguagens e Códigos de todos os alunos de são paulo é: 539.90

3. Qual é a média da nota em Ciências Humanas dos alunos do sexo FEMININO de SP?

In [11]:
nota_ciencias_humanas_feminino = df_alunos_2019.loc[
        (df_alunos_2019.SG_UF_RESIDENCIA == 'SP') & 
        (df_alunos_2019.TP_SEXO == 'F')
    ].NU_NOTA_CH.mean()
print(f"A média da nota em Ciências Humanas dos alunos do sexo FEMININO de SP é: {nota_ciencias_humanas_feminino:.2f}")

A média da nota em Ciências Humanas dos alunos do sexo FEMININO de SP é: 522.53

4. Qual é a média da nota em Matemática dos alunos do sexo FEMININO que moram na cidade de Santos?

In [12]:
nota_matematica_feminino_santos = df_alunos_2019.loc[
        (df_alunos_2019.SG_UF_RESIDENCIA == 'SP') & 
        (df_alunos_2019.TP_SEXO == 'F') &
        (df_alunos_2019.NO_MUNICIPIO_RESIDENCIA == 'Santos')
    ].NU_NOTA_MT.mean()
print(f"A média da nota em Matemática dos alunos do sexo FEMININO que moram na cidade de Santos é: {nota_matematica_feminino_santos:.2f}")

A média da nota em Matemática dos alunos do sexo FEMININO que moram na cidade de Santos é: 551.96

5. Qual é a média da nota em Matemática dos alunos do município de Campinas que possuem TV por assinatura na residência?

In [13]:
nota_matematica_campinas_tv_assinatura = df_alunos_2019.loc[
        (df_alunos_2019.SG_UF_RESIDENCIA == 'SP') & 
        (df_alunos_2019.NO_MUNICIPIO_RESIDENCIA == 'Campinas') & 
        (df_alunos_2019.Q021 == 'B') 
    ].NU_NOTA_MT.mean()
print(f"A média da nota em Matemática dos alunos do município de Campinas que possuem TV por assinatura na residência é: {nota_matematica_campinas_tv_assinatura:.2f}")

A média da nota em Matemática dos alunos do município de Campinas que possuem TV por assinatura na residência é: 601.46

6. Qual é a média da nota em Ciências Humanas dos alunos que possuem dois fornos micro-ondas em casa?

In [14]:
nota_ciencias_humanas_dois_microondas = df_alunos_2019.loc[
        (df_alunos_2019.Q016 == 'C') 
    ].NU_NOTA_CH.mean()
print(f"A média da nota em Ciências Humanas dos alunos que possuem dois fornos micro-ondas em casa é: {nota_ciencias_humanas_dois_microondas:.2f}")

A média da nota em Ciências Humanas dos alunos que possuem dois fornos micro-ondas em casa é: 551.61

7. Qual é a nota média em Matemática dos alunos de Brotas e de Jaú?

In [15]:
nota_matematica_brotas_jau = df_alunos_2019.loc[
        (df_alunos_2019.NO_MUNICIPIO_RESIDENCIA == 'Brotas') |
        (df_alunos_2019.NO_MUNICIPIO_RESIDENCIA == 'Jaú') 
    ].NU_NOTA_MT.mean()
print(f"A nota média em Matemática dos alunos de Brotas e de Jaú é: {nota_matematica_brotas_jau:.2f}")

A nota média em Matemática dos alunos de Brotas e de Jaú é: 574.70

8. Qual é a nota média em Ciências Humanas dos alunos de SP que moram sozinhos?

In [16]:
nota_ciencias_humanas_moram_sozinho = df_alunos_2019.loc[
        (df_alunos_2019.SG_UF_RESIDENCIA == 'SP') & 
        (df_alunos_2019.Q005 == 1)
    ].NU_NOTA_CH.mean()
print(f"A nota média em Ciências Humanas dos alunos de SP que moram sozinhos é: {nota_ciencias_humanas_moram_sozinho:.2f}")

A nota média em Ciências Humanas dos alunos de SP que moram sozinhos é: 527.35

9. Qual é a nota média em Ciências Humanas dos alunos de SP cujo pai completou Pós-graduação e possuem renda familiar entre R$ 8.982,01 e R$ 9.980,00.

In [18]:
nota_ciencias_humanas_sp_pai_graduacao_renda_alta = df_alunos_2019.loc[
        (df_alunos_2019.SG_UF_RESIDENCIA == 'SP') & 
        (df_alunos_2019.Q001 == 'G') &
        (df_alunos_2019.Q006 == 'M')
    ].NU_NOTA_CH.mean()
print(f"A nota média em Ciências Humanas dos alunos de SP cujo pai completou Pós-graduação e possuem renda familiar entre R$ 8.982,01 e R$ 9.980,00 é: {nota_ciencias_humanas_sp_pai_graduacao_renda_alta:.2f}")

A nota média em Ciências Humanas dos alunos de SP cujo pai completou Pós-graduação e possuem renda familiar entre R$ 8.982,01 e R$ 9.980,00 é: 580.11

10. Qual é a nota média em Matemática dos alunos do sexo Feminino que moram em Ourinhos e escolheram “Espanhol” como língua estrangeira?

In [21]:
nota_matematica_feminio_ourinhos_espanhol = df_alunos_2019.loc[
        (df_alunos_2019.TP_SEXO == 'F') & 
        (df_alunos_2019.NO_MUNICIPIO_RESIDENCIA == 'Ourinhos') & 
        (df_alunos_2019.TP_LINGUA == 1)
    ].NU_NOTA_MT.mean()
print(f"A nota média em Matemática dos alunos do sexo Feminino que moram em Ourinhos e escolheram “Espanhol” como língua estrangeira é: {nota_matematica_feminio_ourinhos_espanhol:.2f}")

A nota média em Matemática dos alunos do sexo Feminino que moram em Ourinhos e escolheram “Espanhol” como língua estrangeira é: 499.97